#InputAddcomment{
    width:50%;
    height:100px;
    padding: 10px;
}

.btn { background-color: #008CBA; border-radius: 5px; padding:4px 2px;color:white; margin-left:20px; width:120px; height:40px;font-weight:400;
position:relative; top:-10px;}

.comments-main{margin: 20px 10 20px 0; padding: 15px 10px; }

.comm{ margin: 0 0 0em 0;list-style-type: none; padding: 0;width: 45em; }
.comm li {  cursor: pointer; position: relative;left: 0;background-color: #EEE; margin: .5em 0 ; padding: .3em 0;
    border-radius: 4px; }
.comments-main .comment-head { padding:10px 5px;}

.comments-main .comment-wrapper .comment-head{ color: rgb(72, 181, 218); font-weight:500; padding: 5px 0 0 0;  }

/* HeroesComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .comm {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 50em;
  }
  .comm li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(221, 238, 247);
    margin: .5em 0px;
    padding: 1em 0.6em;
    height: 1.6em;
    border-radius: 4px;
  }
  .comm li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .comm li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
 
  .comm .badge {
    width:200px;
    position:absolute;
    right:-250px;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    line-height: 1em;
    top: 0px;
    height: 3.8em;
    margin-right: 2px;
    border-radius: 0px 4px 4px 0px;
  }

  .comm .badge .upvotes{ margin:2px; width: 100px; background-color: #008CBA; color:white; font-weight:500;border-radius:5px;padding: 5px 10px; float:left;}
  .comm .badge .time {color: gray;}
  .comm  .count{ position: relative; left:50px;}



  /*   duplicate designs ***/

  .commentslist{ max-width:100%; margin: 2% auto; background-color:pink;padding: 1% 10px; }

  .commentslist .list-item{
    margin: 5px 0 10px 0;background-color: rgb(149, 149, 185);
   
  }

 .timeitem{float:right; width:30%; }
 .item{background-color: teal; padding: 10px 15px;}