<h3>Add your Comments here</h3>
<!-- Adding Comment -->
<div class="comment-box">
  <textarea id="InputAddcomment" class="comment-area" ></textarea>
  <button id="addcommentbtn" class="btn" (click)="addcomment"> Add Comment</button>
</div>

<div class="comments-main">
  <h3>Comments: </h3>
  <ul class="comm">
  <li *ngFor="let comment of comments" >
     <span class="text" >{{comment.comment}}</span> <span class="count">{{count}}</span> <span class="badge"> <div class="time"> {{comment.time}} </div>
    <button class="upvotes" (click)="addvotes(comment)">Upvotes {{comment.id}}</button> 
    </span>
  </li>
 
</ul>
</div>

